    <div class="container">
        <h1>Welcome to Modernize</h1>
        <div style="margin-left: -178px;margin-top: 10px;margin-bottom: 30px;">Your Admin Dashboard</div>
        <div class="btns">
            <span><input type="button" value="with google" class="gg"></span>
            <span><input type="button" value="with FB" class="fb"></span> <br><br>
        </div>
        <div class="signinwith">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="siw">or sign Up with</div>
        </div>
    
        <div class="usn">
            <div class="usnl">Name</div>
            <input type="text" class="usninput">
        </div>
        <div class="email">
            <div class="emaill">Email Address</div>
            <input type="text" class="emaili">
        </div>
        <div class="psw">
            <div class="pswl">Password</div>
            <input type="text" class="pswinput">
        </div>

        <input type="button" value="Sign Up" class="sib" (click)="navtoLoginForm()">
        <div class="login">
            <div class="ahan">Already have an Account?</div>
            <div class="si" (click)="navtoLoginForm()" >Sign In</div>

        </div>
    </div>
