

.column {
    float: left;
    width: 50%;
    height: 100vh;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.form{
    margin-top: 5%;
    height: 512px;
    width: 100%;
    padding-top: 2%;
    border-radius: 5px;
}
.emaili{
    width: 350px;
    height: 30px;
    border: 1px solid #ebf1f6;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.fp {


    border: 1px solid #5d87ff;
    background-color: #5d87ff;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 200;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 350px;
    height: 40px;

}
.btl {


    border: 1px solid #ECF3FC;
    background-color: #ECF3FC;
    color: #5d87ff;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 200;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 350px;
    height: 40px;

}