
    <div class="row" style="background-color: #ECF3FC;"  >
        <div class="column" >
            <img src="assets/login-security.svg" alt="" srcset="">
        </div>
        <div class="column"style="background-color: white;">
            <div class="form" style="width: 400px; margin-left: 20%; margin-top: 20%;">
                <h1 style="font-size: 25px;" >Forgot Your Password ?</h1><br>
                <p style="opacity: 0.6;">Please enter the email address associated with your account and We will email you a link to reset your password.</p><br><br>
                <div class="emailarea">
                    <div class="emaill">Email Adress</div>
                    <input type="text" class="emaili"><br>
                    <input type="button" value="Forgot password" class="fp"><br><br>
                    <input type="button" value="Back to Login" (click)="navtoLoginForm()" class="btl">
                </div>
            </div>
        </div>
    </div>
