


.container {
    margin-top: 5%;
    height: 512px;
    width: 100%;
    text-align: center;
    padding-top: 2%;
    border-radius: 5px;
}
.h1{
    font-weight: 700;
}
.btns{
    margin-left: 1px;
}
.gg {
    background-color: white;
    border: 1px solid #ebf1f6;
    border-radius: 10px;
    padding-left: 20px;
    text-align: center;
    font-weight: 200;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    margin-right: 20px;
    margin-left: 50px;
  }
.fb {
    background-color: white;
    border: 1px solid #ebf1f6;
    border-radius: 10px;
    padding-left: 20px;
    text-align: center;
    font-weight: 200;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
    height: 40px;
}
.line1 {
    border-top: 1px solid #ebf1f6;
    height: 1px;
    width: 100px;
    margin-left: 36%;

}
.siw{
    margin-top: -15px;
}
.line2 {
    border-top: 1px solid #ebf1f6;
    height: 1px;
    width: 100px;
    margin-left: 705px;
    margin-top: -2px;
}
.usnl{
    margin-left: -270px;
    font-weight: 700;
    margin-top: 10px;
    font-size: 15px;
}
.usninput{
    margin-left: -10px;
    margin-top: 10px;
    width: 300px;
    padding: 8px 16px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5a6a85;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #dfe5ef;
    border-radius: 7px;
    outline: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.usninput:focus{
    border: 1px solid #a5bdfd;
}
.pswl{
    margin-left: -270px;
    font-weight: 600;
    margin-top: 10px;
    font-size: 15px;
}
.pswinput{
    margin-left: -10px;
    margin-top: 10px;
    width: 300px;
    padding: 8px 16px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5a6a85;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #dfe5ef;
    border-radius: 7px;
    outline: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.pswinput:focus{
    border: 1px solid #a5bdfd;
}
.check {
    margin-left: -170px;
    margin-top: 20px;
}
.fp {
    color: #5d87ff;
    margin-left: 650px;
    margin-top: -20px;
    margin-bottom: 20px;
    width: 150px;
    cursor: pointer;
}
.sib {

    background-color: white;
    border: 1px solid #5d87ff;
    background-color: #5d87ff;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 200;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 350px;
    height: 40px;
    margin-left: -5px;
}
.ntm{
    margin-top: 20px;
    margin-left: -160px;
}
.cac {
    color: #5d87ff;
    margin-left: 640px;
    width: 150px;
    margin-top: -20px;
    cursor: pointer;
}